
@{
    ViewData["Title"] = "TEST";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>TEST</h1>
<h3>Burası bizim oluşturduğumuz View Sayfasıdır.</h3>
<table>
    <tr>
        <th>ID</th>
        <th>Ad</th>
        <th>Departman</th>

    </tr>
    <tr>
        <td>1</td>
        <td>Yeşim</td>
        <td>Yazılım</td>

    </tr>
    <tr>
        <td>2</td>
        <td>Ferit</td>
        <td>Yazılım</td>
    </tr>
    <tr>
        <td>3</td>
        <td>A Kişi </td>
        <td>Analist</td>
    </tr>
</table>

